+++
title = "Powertask.io"
linkTitle = "Powertask.io"

+++

{{< blocks/cover title="Powerful workflows with Slack." image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/powertask-io/powertask-slack">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Build powerful Slack bots. Automate your processes. Hassle-free interactions with people.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Powertask.io is a library that enables powerful interactive processes with Slack. Build Slack Bots, or enhance your business processes with Slack.

Draw your processes. Define tasks. Interact with people.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Perform tasks on Slack!" %}}
Powertask alerts people when there's a task for them. Display simple tasks like approvals directly in a message. Show modals for richer task interactions.

Use industry standard BPMN process definitions through Camunda to define your processes.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/powertask-io/powertask-slack/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/powertaskio" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Documentation</h1>
</div>
{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-bullseye" title="Getting Started Guide" url="/docs/getting-started/" %}}
Build your first interactive process in 20 minutes!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-hands-helping" title="All Documentation" url="/docs/" %}}
Everything you need to know.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-book" title="Examples" url="/docs/examples/" %}}
See Powertask in action.
{{% /blocks/feature %}}





{{< /blocks/section >}}
